<h2>Add new Article</h2>
<% if @article && @article.errors.any? %>
  <% @article.errors.full_messages.each do |error| %>
    <div class="alert alert-danger"><%= error %></div>
  <% end %>
<% end %>
<%= form_for :add_article_form, url: articles_add_path do |f| %>
  <%= f.label :title %>
  <%= f.text_field(:title, {:class => 'form-control'}) %>
  <br>
  <%= f.label :desc %>
  <%= f.text_area(:desc, {:class => 'form-control'}) %>
  <br>
  <%= f.label :published_at, 'Publish immediately' %>
  <%= f.check_box :published_at %>
  <br>
  <%= f.label :image, 'Image' %>
  <%= f.file_field(:image) %>
  <br>
  <%= f.submit('Save article', {:class => 'btn btn-success'}) %>
<% end %>
