<div class="show-article">
  <h2><%= t 'current_article' %></h2>
  <% if(@article) %>
    <div><%= t 'title' %>: <%= @article.title %></div>
    <div><%= t 'desc' %>: <%= @article.desc %></div>
    <div class="desc"><%= t 'category' %>: <%= @article.category_title %></div>
    <% if (@article.image) %>
      <div class="img-wrap">
        <%= image_tag('/uploads/' + @article.image) %>
      </div>
    <% end %>
    <hr>
    <%= link_to t('edit'), articles_edit_path(@article) %>
    <br>
    <%= link_to t('delete'), articles_delete_path(@article), method: :delete %>
  <% else %>
    <h2>Article with such id not found</h2>
  <% end %>
  <hr>
  <%= link_to t('back_to_articles'), articles_path %>
</div>
