<div class="show-article">
  <h2>Current article</h2>
  <% if(@article) %>
    <div>Title: <%= @article.title %></div>
    <div>Description: <%= @article.desc %></div>
    <div class="desc">Category: <%= @article.category_title %></div>
    <% if (@article.image) %>
      <div class="img-wrap">
        <%= image_tag('/uploads/' + @article.image) %>
      </div>
    <% end %>
    <hr>
    <%= link_to 'Edit', articles_edit_path(@article) %>
    <br>
    <%= link_to 'Delete', articles_delete_path(@article), method: :delete %>
  <% else %>
    <h2>Article with such id not found</h2>
  <% end %>
  <hr>
  <%= link_to 'Back to Articles', articles_path %>
</div>
