<div class="login">
  <div class="row">
    <div class="col-sm-5">
      <div class="left-side">
        <div class="home-link">
          <%= link_to 'Sports Hub', home_url %>
        </div>
        <div class="img-wrap">
          <%= image_tag('/assets/login.png') %>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="right-side">
        <div class="register-wrap">
          <%= link_to 'Don’t have an account?', new_user_registration_path, class: 'register' %>
          <%= link_to 'Get Started', new_user_registration_path, class: 'get-started' %>
        </div>
        <div class="form">
          <div class="form-label">Forgot your password?</div>
          <div class="form-label3">Enter your email address below and we’ll get you back on track.</div>
          <%= form_for :login_form, url: '/login' do |f| %>
            <%= f.label :email, 'Email address' %>
            <%= f.email_field :email, placeholder: 'Email@gmail.com' %>
            <%= f.submit 'Request reset link' %>
          <% end %>
          <div class="back">
            <%= link_to 'Back to Log In', new_user_session_path  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
