<div class="top-block">
  <div class="img-wrap">
    <%= image_tag('/assets/home.png') %>
    <div class="side-article">
      <div class="art-wrap">
        <div class="publish-date">
          Published / 20.09.2019
        </div>
        <div class="title">
          London Games return in 2019
        </div>
        <div class="desc">
          Register to receive the latest news on ticket sales for the four NFL London Games in 2019!
        </div>
        <div class="pagination">
          <span class="material-icons arrow-left">chevron_left</span>
          <span class="page active">01</span>
          <span class="page">02</span>
          <span class="page">03</span>
          <span class="page">04</span>
          <span class="material-icons arrow-right">chevron_right</span>
        </div>
      </div>
      <div class="block-btn">
        <a href="#">More</a>
      </div>
    </div>
  </div>
</div>
<div class="news-block">
  <div class="new">
    <div class="img-wrap"><%= image_tag('/assets/1.png') %></div>
    <div class="title">Raiders release</div>
    <div class="desc">After a five-year stint with the Oakland Raiders</div>
    <a href="#" class="more">
      <span class="material-icons">east</span>
    </a>
  </div>
  <div class="new">
    <div class="img-wrap"><%= image_tag('/assets/2.png') %></div>
    <div class="title">London Games</div>
    <div class="desc">NFL London Games return in 2019!</div>
    <a href="#" class="more">
      <span class="material-icons">east</span>
    </a>
  </div>
  <div class="new">
    <div class="img-wrap"><%= image_tag('/assets/3.png') %></div>
    <div class="title">2019</div>
    <div class="desc">2019 NFL free agency</div>
    <a href="#" class="more">
      <span class="material-icons">east</span>
    </a>
  </div>
  <div class="new">
    <div class="img-wrap"><%= image_tag('/assets/4.png') %></div>
    <div class="title">Lorem ipsum </div>
    <div class="desc">Lorem ipsum dolor sit amet, consectetur</div>
    <a href="#" class="more">
      <span class="material-icons">east</span>
    </a>
  </div>
</div>
