<div class="login">
  <div class="row">
    <div class="col-sm-5">
      <div class="left-side">
        <div class="home-link">
          <%= link_to 'Sports Hub', home_url %>
        </div>
        <div class="img-wrap">
          <%= image_tag('/assets/login.png') %>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="right-side">
        <div class="register-wrap">
          <%= link_to 'Already have an account?', new_user_session_path, class: 'register' %>
          <%= link_to 'Log in', new_user_session_path, class: 'get-started' %>
        </div>
        <div class="form">
          <div class="form-label">Create Account</div>
          <div class="socials">
            <div class="facebook">
              <a href="#">
                <%= image_tag('/assets/fb.png') %>
              </a>
            </div>
            <div class="google">
              <a href="#">
                <%= image_tag('/assets/fb.png') %>
              </a>
            </div>
          </div>
          <div class="form-label2">OR use your email for registration:</div>
          <%= form_for :register_form, url: add_user_path do |f| %>
            <% if @user && @user.errors.any? %>
              <% @user.errors.full_messages.each do |error| %>
                <div class="alert alert-danger"><%= error %></div>
              <% end %>
            <% end %>
            <div class="row">
              <div class="col-sm-6">
                <%= f.label :firstname, 'First name' %>
                <%= f.text_field :firstname, placeholder: 'John' %>
              </div>
              <div class="col-sm-6">
                <%= f.label :lastname, 'Last name' %>
                <%= f.text_field :lastname, placeholder: 'Doe' %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <%= f.label :email %>
                <%= f.email_field :email, placeholder: 'jonhdoe@gmail.com' %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <%= f.label :password, 'Password' %>
                <%= f.password_field :password, placeholder: '8 + characters (letters and numbers)' %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <%= f.label :password_confirmation, 'Password Confirm' %>
                <%= f.password_field :password_confirmation %>
              </div>
            </div>
            <%= f.submit 'SIGN UP' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
