<div class="login">
  <div class="row">
    <div class="col-sm-5">
      <div class="left-side">
        <div class="home-link">
          <%= link_to 'Sports Hub', home_url %>
        </div>
        <div class="img-wrap">
          <%= image_tag('/assets/login.png') %>
        </div>
      </div>
    </div>
    <div class="col-sm-7">
      <div class="right-side">
        <div class="register-wrap">
          <%= link_to 'Don’t have an account?', '/#', class: 'register' %>
          <%= link_to 'Get Started', '/#', class: 'get-started' %>
        </div>
        <div class="form">
          <div class="form-label">Create Account</div>
          <%= form_for :login_form, url: '/login' do |f| %>
            <div class="row">
              <div class="col-sm-6">
                <%= f.label :first_name %>
                <%= f.text_field :first_name %>
              </div>
              <div class="col-sm-6">
                <%= f.label :last_name %>
                <%= f.text_field :last_name %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <%= f.label :email %>
                <%= f.email_field :email %>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <%= f.label :password %>
                <%= f.password_field :password %>
              </div>
            </div>
            <%= f.submit 'SIGN UP' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
