<h2>Add new Category</h2>
<% if @category && @category.errors.any? %>
  <% @category.errors.full_messages.each do |error| %>
    <div class="alert alert-danger"><%= error %></div>
  <% end %>
<% end %>
<%= form_for :add_category_form, url: categories_add_path do |f| %>
  <%= f.label :title %>
  <%= f.text_field(:title, {:class => 'form-control'}) %>
  <br>
  <%= f.label :desc %>
  <%= f.text_area(:desc, {:class => 'form-control'}) %>
  <br>
  <%= f.label :published_at, 'Publish immediately' %>
  <%= f.check_box :published_at %>
  <br>
  <%= f.label :image, 'Image' %>
  <%= f.file_field(:image) %>
  <br>
  <%= f.submit('Save category', {:class => 'btn btn-success'}) %>
<% end %>
<br>
<%= link_to 'Back to Categories', categories_add_path %>
