<div class="show-article">
  <% if(@category) %>
    <h2>Current category</h2>
    <div>Title: <%= @category.title %></div>
    <div>Description: <%= @category.desc %></div>
    <hr>
    <%= link_to 'Edit', categories_edit_path(@category) %>
    <br>
    <%= link_to 'Delete', categories_delete_path(@category), method: :delete %>
  <% else %>
    <h2>Category with such id not found</h2>
  <% end %>
  <hr>
  <%= link_to 'Back to categories', categories_path %>
</div>
