<header>
  <row>
    <div class="top-menu">
      <div class="logo">
        <%= link_to 'Sports Hub', home_url %>
      </div>
      <span class="search">
          <span class="material-icons">search</span>
          <input type="text" placeholder="Search by">
        </span>
      <span class="socials">
          <span class="social-label">Share</span>
          <a href="#">
            <%= image_tag('/assets/facebook.svg') %>
          </a>
          <a href="#">
            <%= image_tag('/assets/twitter.svg') %>
          </a>
          <a href="#">
            <%= image_tag('/assets/google.svg') %>
          </a>
        </span>
      <span class="profile">
          <span class="image">
              <%= image_tag('/assets/profile.svg') %>
          </span>
          <span class="username">
            <a href="<%= destroy_user_session_path %>" data-method="delete">Ivan Baloh</a>
          </span>
          <span class="material-icons">arrow_drop_down</span>
        </span>
      <span class="lang-wrap">
          <span class="lang">EN</span>
          <span class="material-icons">arrow_drop_down</span>
        </span>
    </div>
  </row>
</header>
