<div class="sidebar">
  <ul>
    <li class="<%=current_page?(home_url) ? 'active' : '' %>">
      <%= link_to 'Home', home_url %>
    </li>
    <li><a href="#">NBA</a></li>
    <li><a href="#">NFL</a></li>
    <li><a href="#">MLB</a></li>
    <li><a href="#">NHL</a></li>
    <li><a href="#">CBB</a></li>
    <li><a href="#">CFB</a></li>
    <li><a href="#">NASCAR</a></li>
    <li><a href="#">GOLF</a></li>
    <li><a href="#">SOCCER</a></li>
    <li><a href="#">TEAM HUB</a></li>
    <li class="<%=current_page?(articles_path) ? 'active' : '' %>"><%= link_to 'Articles', articles_path %></li>
    <li class="<%=current_page?(categories_path) ? 'active' : '' %>"><%= link_to 'Categories', categories_path %></li>
    <li class="<%=current_page?(subcategories_path) ? 'active' : '' %>"><%= link_to 'Subcategories', subcategories_path %></li>
  </ul>
</div>
