<!DOCTYPE html>
<html>
  <head>
    <title>SportApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <row>
      <div class="top-menu">
        <div class="col-md-6">
          <div class="logo">Sports Hub</div>
          <div class="search">
            <span class="icon"></span>
            <input type="text" placeholder="Search by">
          </div>
        </div>
        <div class="col-md-6">
          <div class="socials">
            <a href="#">
              <span class="material-icons">search</span>
            </a>
          </div>
        </div>
      </div>
    </row>
  </header>
    <%= yield %>
  </body>
</html>
