<!DOCTYPE html>
<html>
  <head>
    <title>SportApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/layouts/header.html.erb' %>
    <div class="content">
      <div class="row">
        <div class="col-sm-2">
          <%= render '/layouts/sidebar.html.erb' %>
        </div>
        <div class="col-sm-10">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render '/layouts/footer.html.erb' %>
  </body>
</html>
