<!DOCTYPE html>
<html>
  <head>
    <title>SportApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <row>
      <div class="top-menu">
        <div class="logo">
          <%= link_to 'Sports Hub', page_home_url %>
        </div>
        <span class="search">
          <span class="material-icons">search</span>
          <input type="text" placeholder="Search by">
        </span>
        <span class="socials">
          <span class="social-label">Share</span>
          <a href="#">
            <%= image_tag('/assets/facebook.svg') %>
          </a>
          <a href="#">
            <%= image_tag('/assets/twitter.svg') %>
          </a>
          <a href="#">
            <%= image_tag('/assets/google.svg') %>
          </a>
        </span>
        <span class="profile">
          <span class="image">
              <%= image_tag('/assets/profile.svg') %>
          </span>
          <span class="username">
            <a href="#">Ivan Baloh</a>
          </span>
          <span class="material-icons">arrow_drop_down</span>
        </span>
        <span class="lang-wrap">
          <span class="lang">EN</span>
          <span class="material-icons">arrow_drop_down</span>
        </span>
      </div>
    </row>
  </header>
  <div class="row">
    <div class="col-sm-3">
      <div class="sidebar">
        <ul>
          <li class="active">
            <%= link_to 'Home', page_home_url %>
          </li>
          <li><a href="#">NBA</a></li>
          <li><a href="#">NFL</a></li>
          <li><a href="#">MLB</a></li>
          <li><a href="#">NHL</a></li>
          <li><a href="#">CBB</a></li>
          <li><a href="#">CFB</a></li>
          <li><a href="#">NASCAR</a></li>
          <li><a href="#">GOLF</a></li>
          <li><a href="#">SOCCER</a></li>
          <li><a href="#">TEAM HUB</a></li>
          <li><a href="#">LIFESTYLE</a></li>
          <li><a href="#">DEALBOOK</a></li>
          <li><a href="#">VIDEO</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-9">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
